<button (click)="onclick()">Click</button>
<div>Months:
    <select (change)="onChange($event.target.value)"> 
        <option *ngFor="let i of months">
            {{i}}
        </option>
    </select>
</div>


<span  *ngIf="isAvailable; then condtion1 else condtion2">
</span>
<ng-template #condtion1>{{title}}}</ng-template>
<ng-template #condtion2>{{invalid}}</ng-template>

<button (click)="eventClick($event);">Click</button>
<h1>hello</h1>
<span>{{month}}</span>

<div style="text-align:center">
    <span changeText >Welcome to {{title}}.</span>
 </div>